{% extends "base.html" %}

{% block title %}Décodage avec la méthode César{% endblock title %}

{% block content %}
<body class="container home-container">

    <header class="row ml-lg-5 d-flex justify-content-center">
        <div class="col-12 col-lg-6"></div>
        <div class="col-12 col-lg-6">
            <h1 class="text-center mt-5">Décodage avec la méthode César</h1>
        </div>
    </header>

    <main class="row ml-lg-5 d-flex justify-content-center align-items-center main-bg">
        <div class="col-12 col-lg-6"></div>
        <div class="col-12 col-lg-6 text-center">
            <div class="text-center mb-5">
                <a class="font-italic" href="/">Revenir à l'accueil</a>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-8 msg mb-5 pt-4">
                    <h2 class="">Message codé : </h2>
                    <p>
                        {{ messageCodeHtml }}
                    </p>
                </div>

                <div class="col-8 msg pt-4">
                    <h2 class="text-center">Message décodé : </h2>
                    <p>
                        {{ messageDecodeHtml }}
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}